# Environment
.env

# Python
__pycache__/
*.pyc
*.pyo

# Logs
logs/
*.log

# Data
data/
*.jsonl
*.parquet

# Models
models/
*.pkl
*.json

# MLflow
mlruns/

# Docker
*.tar

# VSCode
.vscode/

# OS junk
.DS_Store