# Environment
.env

# Python
__pycache__/
*.pyc
*.pyo

# Logs
logs/
*.log

# Data
data/*
!data/.keep
*.jsonl
*.parquet

# Models
models/*
!models/.keep
*.pkl
models/*.json

# MLflow
mlruns/

# Jupyter
.ipynb_checkpoints/

# Docker
*.tar

# VSCode
.vscode/

# OS junk
.DS_Store

# Python packaging build artifacts
build/
dist/
*.egg-info/
